<div class="hero">
  <br />

  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br /><br />
    <h1> The Ultimate Knowledge Sharing Experience <h1>
      <br />
      <h2>Everyone has something to teach. Everyone has something to learn</h2>
       <br /><br />
  </div>

  <br />
  
</div>

  <br class="clr"/>

<div class="col-xs-10 col-xs-offset-1 text-center ">
  <div class="col-sm-6 features-box ">
    <br />
    <h2>Learn</h2>
   <br /><br />
    <p>Want to learn programming ? or maybe a new language?</p>
    <p>Learn all sorts of skills from video courses</p>
    <p>made by awesome teachers !</p>
    <br />
    <%= link_to 'Show me !', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>

  <div class="col-sm-6 features-box ">
    <br />
    <h2>Teach</h2>
    <br /><br />
    <p>Any skill you can teach ?</p>
    <p>Become an Instructor and sell your courses</p>
    <p>or made them free and spread the love !</p>
    <br />
    <%= link_to "I'm in !", '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
