.navbar {
  border-radius:0;
  font-family: "Museo500", Helvetica;
  font-weight: 200;
  box-shadow: 0 10px 6px -6px #777;
  background:url('broken_noise.png');
}

.navbar-inverse a.navbar-brand {
  font-family: "Museo500", Helvetica;
  font-weight: 100;
  color:white;
}